<!DOCTYPE html>
<html lang="pl" ng-app="SmaRRt">

	<head>
	    <meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	    <title>FMA - WORKBENCH</title>
	
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	    
	
	    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
	    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">

	    <link rel="stylesheet" href="style.css">
	    <link rel="stylesheet" href="loader.css">
	    <link rel="stylesheet" href="map.css">
	    <link rel="stylesheet" href="loading-input-data-loader.css">
	    <link rel="stylesheet" href="tree-view.css">
	    <link rel="stylesheet" href="smarrt-form.css">
	    <link rel="stylesheet" href="cube.css">
	    <link rel="stylesheet" href="bottom-list.css">
	    <link rel="stylesheet" href="clipboard-handler.css">
	    
	    
	    <script id="vannila-script-hook" src="vannila.js"></script>
	    <script src="jquery.min.js"></script>
	    <script src="bootstrap.min.js"></script>
	    
	    
	
	    <script src="G.js"></script>
	    <script src="wizard-standards.js"></script>
	    <script src="tree-maker-lib.js"></script>

	    <script src="easysharepoint.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.SPServices/2014.02/jquery.SPServices-2014.02.min.js"></script>
	    <script src="dbRest.js"></script>
	    
	    <script src="init-map.js"></script>
	    <script src="window-onscroll.js"></script>
	    
	    
	    <script>
	    
	    
     
	    </script>

	    
	</head>
	
	<body>
	
	    <!--- LOADERS !!! --->
	    <div id="loader1" class="loader"></div>
	    <!--- end of LOADERS --->
	    
		<div class="header" id="header" ng-controller="HeaderCtrl">
			<div ng-include="'header.htm'"></div>
		</div>
		
		<div class="get-input-data" id="get-input-data" ng-controller="GetInputDataCtrl">
			<div ng-include="'get-input.htm'"></div>
		</div>
		
		
		<!-- oprocz szybkiego podliczenia arkusza roboczego znajduje sie tutaj rowniez logika sprawdzenia std kolumn wizarda -->
		<div class="quick-stats" id="quick-stats" ng-controller="QuickStatsCtrl">
			<div class="badge badge-light"> Rozmiar Twojego wejściowego arkusza roboczego: <i class="fas fa-wrench fa-2x"></i> {{ workArea }} </div>
		</div>
		
		
		<div class="main-list" id="main-list" ng-controller="MainListCtrl">
			<div class="container">
			
				<ul id="tree-view">
					<li class="caret" ng-repeat="plt in plants" ng-if="plt != 'id'">
					
						<span id="tree-{{plt}}" ng-click="spanClick([plt])"> 
							{{ plt }} 
						</span>
						<ul class="nested">
							<li class="caret" ng-repeat="resp in makeFromPlant(plt) track by $index" ng-if="resp != 'id'">
							
								<span id="tree-{{plt}}-{{resp}}" ng-click="spanClick([plt, resp])"> 
									{{ resp }} 
								</span>
								<ul class="nested">
									<li class="caret" ng-repeat="fup in makeFromResp(plt, resp) track by $index" ng-if="fup != 'id'">
										
										<span id="tree-{{plt}}-{{resp}}-{{fup}}" ng-click="spanClick([plt, resp, fup])"> 
											{{ fup }}
										</span>
										<ul class="nested">
											<li class="caret" ng-repeat="proj in makeFromFup(plt, resp, fup) track by $index" ng-if="proj != 'id'">

												<span id="tree-{{plt}}-{{resp}}-{{fup}}-{{proj}}" ng-click="spanClick([plt, resp, fup, proj])"> 
													{{ proj }}
												</span>
												<ul class="nested">
													<li class="caret" ng-repeat="faza in makeFromProj(plt, resp, fup, proj) track by $index" ng-if="faza != 'id'">
														
														
														<span id="tree-{{plt}}-{{resp}}-{{fup}}-{{proj}}-{{faza}}" ng-click="spanClick([plt, resp, fup, proj, faza])"> 
															{{ faza }}
														</span>
														<ul class="nested">
															<li class="caret" ng-repeat="mrd in makeFromFaza(plt, resp, fup, proj, faza) track by $index" ng-if="mrd != 'id'">
															
																<span id="tree-{{plt}}-{{resp}}-{{fup}}-{{proj}}-{{faza}}-{{mrd}}"> 
																	<span ng-click="spanClick([plt, resp, fup, proj, faza, mrd])"> MRD: {{ mrd }}, filtr dostawcy: </span>
																	<input
																		class="filtr-dostawcy-input"
																		type="text" 
																		ng-model="mainList.filtrDostawcy"
																		placeholder="Wpisz DUNS lub Nazwe dostawcy">
																</span>
																<ul class="nested">
																
																
																
																	<!-- tabele danych wizard i sharepoint -->
																	<li class="caret" ng-repeat="duns in makeFromMrd(plt, resp, fup, proj, faza, mrd, mainList.filtrDostawcy) track by $index" ng-if="duns != 'id'">
																		<span id="tree-{{plt}}-{{resp}}-{{fup}}-{{proj}}-{{faza}}-{{mrd}}-{{duns}}" ng-click="spanClick([plt, resp, fup, proj, faza, mrd, duns])">
																			
																			<button 
																				class="btn btn-dark" 
																				ng-click="loadSupplierDataFromSpAndCreateRoomRequestProperty(plt, resp, fup, proj, faza, mrd, duns)">
																				Załaduj dane dostawcy: {{ duns }}, {{ getSupplierName( plt, resp, fup, proj, faza, mrd, duns ) }}
																			</button>
																		</span>
																		<div class="nested tabele-wizard-i-sharepoint">
																		
																			<div ng-include="'leaf-tables.htm'"></div>

																			
																			
																			<!-- INNE SMARTY! -->
																			<div class="list-of-smarrts-before-smarrt-form" ng-controller="PreSmarrtCtrl">
																				<div ng-include="'pre-smarrt-part.htm'"></div>
																			</div>

																			<!-- KONIEC: INNE SMARTY! -->
																			
																			
																			<!-- DODAJ SMARRT -->
																			<!-- <i class="fas fa-arrow-down zrob-te-strzalki-zielone"></i><i class="fas fa-arrow-down zrob-te-strzalki-zielone"></i>-->
																			<div 
																				class="badge badge-success badge-pill"
																				ng-click="mainList.toggleSmarrtFormVisibility()">
																					Nowy Smart Room Request (SmaRRt for: {{ duns }})
																			</div>
																			<!-- <i class="fas fa-arrow-down zrob-te-strzalki-zielone"></i><i class="fas fa-arrow-down zrob-te-strzalki-zielone"></i> -->
																											
																			<!-- smarrt form -->
																			<div class="smarrt-form-container" ng-controller="SmarrtCtrl" ng-show="mainList.smarrtFormVisible">
																				<div ng-include="'smarrt-form.htm'"></div>
																			</div>
																			<!-- end of smarrt form -->
																			
																			<!-- KONIEC SMARRT -->																			
																		</div>
																		<!-- koniec listy dostawcow z sp -->
																	</li>																	
																	<!-- END OF TABLES -->
																</ul>

															
															</li>
														</ul>														
													</li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		
		




		<div ng-controller="MapCtrl">



			<!-- MAP -->
      <div id="nie-schow">
      	<button id="nie-schow-btn" class="btn btn-warning map-pac btn-sm" ng-click="nieSchow()"> <i class="fas fa-arrow-circle-left fa-2x"></i> </button>
      </div>
      <div id="outer-map">
      	<div id="map"></div>
      	<button id="pac-button-min" class="btn btn-dark map-pac btn-sm" ng-click="minMap()">_</button>
      	<button id="pac-button-max" class="btn btn-dark map-pac btn-sm" ng-click="normMap()">[]</button>
      	<button id="pac-button-max" class="btn btn-dark map-pac btn-sm" ng-click="maxMap()">[ ]</button>
      	<button id="pac-button-md" class="btn btn-dark map-pac btn-sm" ng-click="mapAndDetails()">[][]</button>
      	<button id="schow-btn" class="btn btn-warning map-pac btn-sm" ng-click="schow()"> <i class="fas fa-arrow-circle-right fa-2x"></i> </button>
      	<br>
      	<input id="pac-input" class="controls map-pac" type="text" placeholder="Wprowadź inną lokalizację dla wybranego room requestu">
      	<button id="pac-button" class="btn btn-secondary map-pac" ng-click="getDetailsFromPacInput()">Pokaż</button>
      	
      	<hr class="my-2">
      	<button id="map-details-button-min" class="btn btn-light map-details-btn btn-sm" ng-click="minMapDetails()">_</button>
      	<button id="map-details-button-max" class="btn btn-light map-details-btn btn-sm" ng-click="maxMapDetails()">[]</button>
      
      	<div id="map-text-details" class="jumbotron">
      		
      		<div class="card">
      			<div class="card-header">Detale lokalizacji, którą wybrałeś/wybrałaś: </div>
      			<div class="card-body">
      				Nazwa dostawcy: <span> {{ mapHandler.nm }} </span>
      				<hr class="my-2">
      				Adres: <span id="map-text-details-adr" > {{ mapHandler.adr }} </span>
      				<hr class="my-1">
      				Vicinity: <span id="map-text-details-vic" > {{ mapHandler.vic }} </span>
      				<hr class="my-1">
      				Telefon: <span id="map-text-details-tel" > {{ mapHandler.tel }} </span>
      				<hr class="my-2">
      				ID (Google Maps): <span id="map-text-details-pid"> {{ mapHandler.placeid }} </span>
      				<hr class="my-1">
      				Lat (Google Maps): <span id="map-text-details-lat"> {{ mapHandler.lat }} </span>
      				<hr class="my-1">
      				Lng (Google Maps): <span id="map-text-details-lng"> {{ mapHandler.lng }} </span>
      				<hr class="my-1">
      				LINK (Google Maps): <br><a href="{{ mapHandler.url }}" target="_blank" rel="noopener noreferrer"> {{ mapHandler.url }} </a>
      		<hr class="my-1">
      				<button class="btn btn-success" ng-click="mapHandler.updateSelectedSupplierFromMap()"><span class="fas fa-angle-double-left"></span> Aktualizuj dane dostawcy</button>
      
      			</div>
      		</div>
      		
      		
      	</div>
      </div>


    </div>
	    
																								
		<!-- Cube Ctrl -->
		<!-- -->
		<div id="cubeModal" ng-controller="CubeCtrl">


			<div>
      	<div class="cube-modal-content">
      		<div class="cube-modal-header">
      			<button ng-click="cubesHandler.schow()" type="button" class="close" data-dismiss="modal">X</button>
      			<h4 class="cube-modal-title">{{ cubesHandler.Name }}</h4>
      		</div>
      		<div class="cube-modal-body">
      			
      			<canvas id="cube-canvas" width="1200" height="600"></canvas>
      			
      			<form>
      				WAGA: <input id="waga1" type="range" value="1" min="1" max="1000" step="5" ng-model="cubesHandler.w1w1" ng-change="cubesHandler.updateValsFromRange()">
      				<input id="wagaNum1" type="number" value="cubesHandler.w1w1" ng-model="cubesHandler.w1w1" ng-change="cubesHandler.updateValsFromNum()">
      				
      				ILE BOXÓW: <input id="q1" type="range" value="1" min="1" max="100" step="5" ng-model="cubesHandler.q1q1" ng-change="cubesHandler.updateValsFromRange()">
      				<input id="qNum1" type="number" value="cubesHandler.q1q1" ng-model="cubesHandler.q1q1" ng-change="cubesHandler.updateValsFromNum()">
      				
      				<br>
      				X: <input id="x1" type="range" value="100" min="0" max="200" step="10" ng-model="cubesHandler.x1x1" ng-change="cubesHandler.updateValsFromRange()">
      				<input id="xNum1" type="number" value="cubesHandler.x1x1" ng-model="cubesHandler.x1x1" ng-change="cubesHandler.updateValsFromNum()">
      				Y: <input id="y1" type="range" value="100" min="0" max="200" step="10" ng-model="cubesHandler.y1y1" ng-change="cubesHandler.updateValsFromRange()">
      				<input id="yNum1" type="number" value="cubesHandler.y1y1" ng-model="cubesHandler.y1y1" ng-change="cubesHandler.updateValsFromNum()">
      				Z: <input id="z1" type="range" value="100" min="0" max="200" step="10" ng-model="cubesHandler.z1z1" ng-change="cubesHandler.updateValsFromRange()">
      				<input id="zNum1" type="number" value="cubesHandler.z1z1" ng-model="cubesHandler.z1z1" ng-change="cubesHandler.updateValsFromNum()">
      				<br>
      				<input id="color1" type="color" value="#ff8d4b" ng-model="cubesHandler.c1c1">
      			</form>
      			
      			<div id="pokaz-wymiary">
      				<div class="cube-ref" id="cube-ref-x1"> X: {{ cubesHandler.x1x1}} cm</div>
      				<div class="cube-ref" id="cube-ref-y1"> Y: {{ cubesHandler.y1y1}} cm</div>
      				<div class="cube-ref" id="cube-ref-z1"> Z: {{ cubesHandler.z1z1}} cm</div>
      				<div><b> Wymiary: {{ cubesHandler.currDim }} ; ILE BOX'ów: {{ cubesHandler.q1q1 }} </b></div>
      				<div><b> waga: {{ cubesHandler.w1w1}} kg </b></div>
      				<button class="btn btn-success" ng-click="cubesHandler.submitNewDims()">Dodaj pudełko</button>
      				<button class="btn btn-danger" ng-click="cubesHandler.resetPackaging()">Reset</button> 
      				<br>
      				<div class="cube-ref-summary" id="cube-ref-summary">
      					<div id="cube-ref-dim-str"> 
      						Wszystkie wymiary: {{ cubesHandler.RR.cubesRefDimsStr }} (w cm)
      					</div>
      					<div id="cube-ref-dim-str"> 
      						Ile kontenerów: {{ cubesHandler.RR.numOfCont }}
      					</div>
      					<div id="cube-ref-dim-str"> 
      						Waga całkowita: {{ cubesHandler.RR.weight }} kg
      					</div>
      				</div>
      				
      				<button class="btn btn-success" ng-click="cubesHandler.submitPackagingIntoRR()">Dodaj pudełka do SmaRRta</button>
      
      			</div>
      			
      		</div>
      	</div>
        
      </div>



		</div>
		<!-- -->
		
		<hr class="my-4">
		
		<!-- niezalezna lista smarrtow -->
		<div id="bottom-smarrt-list" class="bottom-smarrt-list" ng-controller="BottomSmarrtListCtrl">
			<div ng-include="'get-bottom-smarrt-list.htm'"></div>
		</div>
		
		
		<!-- ClipboardHandler Ctrl -->
		<!-- -->
		<div id="clipboard-yellow-icon" ng-controller="ClipboardHandlerCtrl">
			<div ng-include="'clipboard-handler.htm'"></div>
		</div>

		
		<hr class="my-4">

	    
   <script src="angular.js"></script>
   <script src="angular-route.js"></script>
   <script src="angular-animate.js"></script>
   <script src="app.js"></script>
   <script src="ng-requests-service.js"></script>
   <script src="map-ctrl.js"></script>
   <script src="get-input-data-ctrl.js"></script>
   <script src="quick-stats-ctrl.js"></script>
   <script src="main-list-ctrl.js"></script>
   <script src="main-list-ctrl-event-handler-lib.js"></script>
   <script id="pre-smarrt-script" src="pre-smarrt-ctrl.js"></script>
   <script src="smarrt-ctrl.js"></script>
   <script src="cube-ctrl.js"></script>
   <script src="bottom-smarrt-list-ctrl.js"></script>
   <script src="clipboard-handler-ctrl.js"></script>
   
		
	
   <script src="https://maps.googleapis.com/maps/api/js?key=NIE_MA_SCHOWANE_xD&libraries=places&callback=initMap" async defer></script>
   
   <script src="shim.min.js"></script>
   <script src="xlsx.full.min.js"></script>
   
   <script src="FileSaver.min.js"></script>



	</body>

</html>
