.smarrt-form-container {
	margin: 10px -300px;
}


.smarrt-form-container .header-btns-in-smarrt-frm {
 
 color: black !important;
 font-size: 1.5em !important;
}


.title-on-smarrt-form {
	font-size: 16px;
}



.checkbox-add-supplier-on-smarrt {
	font-size: 16px;
	color: black;
}

.checkbox-add-supplier-on-smarrt input {
	font-size: 14px;
}


.wyslij-zapytanie-ccc {
	position: absolute !important;
}

.checkbox-add-supplier-on-smarrt {
	position: absolute !important;
	left: 300px;
	padding: 4px;
	margin: 2px;
	font-weight: bold;
	font-size: 17px;
}

.span-for-get-smarrts {
 position: relative;
}


.pre-smarrt-popup-comment {
  overflow-wrap: break-word;
  position:absolute;
  z-index: 111;
  top: 30px;
  left: 30px;
  max-width: 600px;
  height: auto;
  padding: 10px;
  margin: 4px;
  border-radius: 8px;
  border: 2px solid #383d41;
  font-size: 12px;
  color: #141414;
  background-color: white;
  box-shadow: 13px 25px 50px 6px rgba(0,0,0,0.44);
}


.list-of-smarrts-before-smarrt-form {
 position: relative;
}

.pre-smarrt-popup-friends {
  overflow-wrap: break-word;
  position:absolute;
  z-index: 110;
  top: 30px;
  left: 30px;
  width: 400px;
  height: auto;
  padding: 10px;
  margin: 4px;
  border-radius: 8px;
  border: 2px solid #383d41;
  font-size: 20px;
  color: #141414;
  background-color: white;
  box-shadow: 13px 25px 50px 6px rgba(0,0,0,0.44);
  font-size: 11px;
}

.pre-smarrt-popup-friends table {
 left: 10px;
 margin: 10px !important;
}

.pre-smarrt-popup-friends td { font-size: 12px; }


.pre-smarrt-popup-friends .friend-popup-cross {
	float: right;
	font-size: 200%;
	font-weight: bold;
}


.pre-smarrt-popup-pus {
  overflow-wrap: break-word;
  position:absolute;
  z-index: 120;
  top: 30px;
  left: 30px;
  min-width: 800px;
  width: 800px;
  height: auto;
  padding: 10px;
  margin: 4px;
  border-radius: 8px;
  border: 2px solid #383d41;
  font-size: 20px;
  color: #141414;
  background-color: white;
  box-shadow: 13px 25px 50px 6px rgba(0,0,0,0.44);
  font-size: 11px;
}

.pre-smarrt-popup-pus .matrix-for-pus-data-in-jenny {
 	z-index: 123;
 	cursor: text;
 	user-select: all;
}

.pre-smarrt-popup-pus .table-selected tr td {
 	color: red;
 	font-weight: bold;
 	background-color: #ffc107;
}



.pre-smarrt-popup-pus .input-group-text {
	width: 170px;
	min-width: 170px;
}


.pre-smarrt-popup-pus .matrix-for-pus-data-in-jenny {
 left: 2px;
 margin: 10px !important;
 font-size: 1em;
}

.pre-smarrt-popup-pus .matrix-for-pus-data-in-jenny tr th, .pre-smarrt-popup-pus .matrix-for-pus-data-in-jenny tr td {
 	font-size: 1em !important;
}


.pre-smarrt-popup-pus .pus-form-head {
 font-size: 1.5rem;
}

.pre-smarrt-popup-pus td { font-size: 12px; }


.pre-smarrt-popup-pus .pus-popup-cross {
	float: right;
	font-size: 200%;
	font-weight: bold;
}


.pre-smarrt-popup-pus .pus-inner-tabel-after-submission td,
.pre-smarrt-popup-pus .pus-inner-tabel-after-submission th {
 font-size: 140%;
 color: black !important;
 border: 2px solid black !important;
}