<div class="col-md-6">
	<div class="jumbotron">
		
		<h4 
			class="alert alert-primary title-on-smarrt-form" 
			role="alert" 
			ng-if="!!(smarrt.tree[plt][resp][ fup][ proj][faza][mrd][duns].sharepoint)">
			
			Smart Room Request for {{ smarrt.tree[plt][resp][ fup][ proj][faza][mrd][duns].sharepoint[0].Supplier }}  
			
		</h4>
		
		<hr class="my-2">
		<span class="header-btns-in-smarrt-frm far fa-circle fa-2x"></span>
		<span ng-click="smarrt.moveInsideArray(plt, resp, fup, proj, faza, mrd, duns)" class="header-btns-in-smarrt-frm fas fa-sync fa-2x"></span>
		<span ng-click="smarrt.copyToClipboard(plt, resp, fup, proj, faza, mrd, duns)" class="header-btns-in-smarrt-frm far fa-clipboard fa-2x"></span>
		<span ng-click="smarrt.pasteFromClipboard(plt, resp, fup, proj, faza, mrd, duns)" class="header-btns-in-smarrt-frm fas fa-paste fa-2x"></span>

		<hr class="my-2">
		
		<div class="input-group" ng-if="!!(smarrt.tree[plt][resp][ fup][ proj][faza][mrd][duns].sharepoint)">	
		  <div class="input-group-prepend">
		    <span class="input-group-text badge-dark" id="">Supplier name and DUNS</span>
		  </div>
		  <input 
		  	type="text" 
		  	class="form-control"
		  	placeholder="Wpisz nazwe dostawcy"
		  	id="rr-supplier-{{duns}}" 
		  	ng-model="smarrt.tree[plt][resp][ fup][ proj][faza][mrd][duns].sharepoint[0].Supplier">
		  <input 
		  	type="text" 
		  	class="form-control" 
		  	placeholder="Wpisz DUNS / COFOR"
		  	id="rr-duns-{{duns}}" 
		  	ng-model="smarrt.tree[plt][resp][ fup][ proj][faza][mrd][duns].sharepoint[0].DUNS">
		</div>
		<hr class="my-2">
		
		<div class="input-group" ng-if="!!(smarrt.tree[plt][resp][ fup][ proj][faza][mrd][duns].sharepoint)">
			<div class="input-group-prepend">
				<span class="input-group-text badge-secondary" id="">Address and City</span>
			</div>
			<input 
				type="text" 
				class="form-control" 
				placeholder="Wpisz adres"
				id="rr-address-{{duns}}" 
				ng-model="smarrt.tree[plt][resp][ fup][ proj][faza][mrd][duns].sharepoint[0].Address">
			<input 
				type="text" 
				class="form-control"
				placeholder="Wpisz miasto" 
				id="rr-city-{{duns}}" 
				ng-model="smarrt.tree[plt][resp][ fup][ proj][faza][mrd][duns].sharepoint[0].City">
		</div>
		
		<hr class="my-2">

		<div class="input-group" ng-if="!!(smarrt.tree[plt][resp][ fup][ proj][faza][mrd][duns].sharepoint)">
			<div class="input-group-prepend">
				<span class="input-group-text badge-light" id="">ZIP and CC</span>
			</div>
			<input 
				type="text" 
				class="form-control"
				placeholder="Wpisz ZIP CODE" 
				id="rr-zip-{{duns}}" 
				ng-model="smarrt.tree[plt][resp][ fup][ proj][faza][mrd][duns].sharepoint[0].ZIP">
			<input 
				type="text" 
				class="form-control"
				placeholder="Wpisz Country Code"
				id="rr-cc-{{duns}}" 
				ng-model="smarrt.tree[plt][resp][ fup][ proj][faza][mrd][duns].sharepoint[0].CC">
		</div>
		
		
		
		<hr class="my-2">
		<div class="input-group" ng-if="!!(smarrt.tree[plt][resp][ fup][ proj][faza][mrd][duns].sharepoint)">
			<div class="input-group-prepend">
				<span class="input-group-text badge-secondary" id="">Contact Name</span>
			</div>
			<input 
				type="text" 
				class="form-control"
				placeholder="Wpisz Imię" 
				ng-model="smarrt.tree[plt][resp][ fup][ proj][faza][mrd][duns].sharepoint[0].Contact"
				id="rr-contact-{{duns}}">
		</div>
		
		
		<hr class="my-2">

		<div class="input-group" ng-if="!!(smarrt.tree[plt][resp][ fup][ proj][faza][mrd][duns].sharepoint)">
			<div class="input-group-prepend">
				<span class="input-group-text badge-light" id="">Mail and Phone</span>
			</div>
			<input 
				type="text" 
				class="form-control"
				placeholder="Wpisz Email" 
				id="rr-mail-{{duns}}" 
				ng-model="smarrt.tree[plt][resp][ fup][ proj][faza][mrd][duns].sharepoint[0].Mail">
			<input 
				type="text" 
				class="form-control"
				placeholder="Wpisz numer telefonu"
				id="rr-phone-{{duns}}" 
				ng-model="smarrt.tree[plt][resp][ fup][ proj][faza][mrd][duns].sharepoint[0].Phone">
		</div>


		
		
		<hr class="my-2">
		<div class="input-group" ng-if="!!(smarrt.tree[plt][resp][ fup][ proj][faza][mrd][duns].RR[0].FMA)">
			<div class="input-group-prepend">
				<span class="input-group-text badge-secondary" id="">Possible Pick up (date and time)</span>
			</div>
			<input 
				type="datetime-local" 
				class="form-control" 
				ng-model="smarrt.tree[plt][resp][ fup][ proj][faza][mrd][duns].RR[0].FMA.PossiblePickUp"
				id="rr-possible-pickup-{{duns}}">
		</div>
		
		
		<hr class="my-2">
		<div class="input-group" ng-if="!!(smarrt.tree[plt][resp][ fup][ proj][faza][mrd][duns].RR[0].FMA)">
			<div class="input-group-prepend">
				<span class="input-group-text badge-light" id="">Packaging/container type</span>
			</div>
			<input 
				type="text" 
				class="form-control"
				ng-model="smarrt.tree[plt][resp][ fup][ proj][faza][mrd][duns].RR[0].FMA.Packaging"
				placeholder="wpisz dane dotyczące packagingu, typu kontenera"
				id="rr-cont-packaging-{{duns}}">
		</div>
		<hr class="my-2">
		<div class="input-group" ng-if="!!(smarrt.tree[plt][resp][ fup][ proj][faza][mrd][duns].RR[0].FMA)">
			<div class="input-group-prepend">
				<span class="input-group-text badge-secondary" id="">Dimensions</span>
			</div>
			<input 
				type="text" 
				class="form-control"
				placeholder="wpisz rozmiary w postaci: 1 x ( 1x2x3 ) ; 2 x ( 10x10x10 )"
				ng-model="smarrt.tree[plt][resp][ fup][ proj][faza][mrd][duns].RR[0].FMA.Dim"
				id="rr-dim-pickup-{{duns}}">
			<button 
				class="btn btn-success"
				ng-click="smarrt.dimWizard(plt, resp, fup, proj, faza, mrd, duns)"
				data-dismiss="modal" 
				data-toggle="modal" 
				data-target="#modal-cubes-handler">
				Dim Wizard</button>
				

				
				
				
		</div>
		<hr class="my-2">
		<div class="input-group" ng-if="!!(smarrt.tree[plt][resp][ fup][ proj][faza][mrd][duns].RR[0].FMA)">
			<div class="input-group-prepend">
				<span class="input-group-text badge-light" id="">Number of Containers and Weight</span>
			</div>
			<input 
				type="number" 
				class="form-control"
				placeholder="Wpisz liczbe kontenerow"
				ng-model="smarrt.tree[plt][resp][ fup][ proj][faza][mrd][duns].RR[0].FMA.NumberOfContainers"
				id="rr-num-of-cont-{{duns}}">
			<input 
				type="number" 
				class="form-control" 
				placeholder="Wpisz wagę!"
				ng-model="smarrt.tree[plt][resp][ fup][ proj][faza][mrd][duns].RR[0].FMA.Weight"
				id="rr-weight-{{duns}}">
		</div>
		<hr class="my-2">
		<div class="input-group">
		
			<div class="input-group-prepend">
				<span class="input-group-text badge-secondary" id="">Stackable? (Y/N)</span>
			</div>
			<input 
				type="checkbox" 
				class="form-control" 
				ng-model="smarrt.tree[plt][resp][ fup][ proj][faza][mrd][duns].RR[0].FMA.Stackable"
				id="rr-stackable-{{duns}}">
			
			<div class="input-group-prepend">
				<span class="input-group-text badge-secondary" id="">Hazardous Goods</span>
			</div>
			<input 
				type="text" 
				class="form-control"
				ng-model="smarrt.tree[plt][resp][ fup][ proj][faza][mrd][duns].RR[0].FMA.HazardousGoods"
				id="rr-hg-{{duns}}">


		</div>
		<hr class="my-2">
		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text badge-secondary" id="">Suggested route (if any)</span>
			</div>
			<input 
				type="text" 
				class="form-control" 
				ng-model="smarrt.tree[plt][resp][ fup][ proj][faza][mrd][duns].RR[0].FMA.SuggestedRoute"
				id="rr-s-route-{{duns}}">
		</div>
		<hr class="my-2">
		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text badge-light" id="">Deadline in plant</span>
			</div>
			<input 
				type="datetime-local" 
				class="form-control" 
				ng-model="smarrt.tree[plt][resp][ fup][ proj][faza][mrd][duns].RR[0].FMA.DeadlineInPlant"
				id="rr-deadline-{{duns}}">
		</div>
		<hr class="my-2">
		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text badge-secondary" id="">Extra FMA Remarks</span>
			</div>
			<input 
				type="text" 
				class="form-control" 
				placeholder="Czy masz jakiś dodatkowy komentarz dla CCC?"
				ng-model="smarrt.tree[plt][resp][ fup][ proj][faza][mrd][duns].RR[0].FMA.FMA_Remarks"
				id="rr-fma-remarks-{{duns}}">
		</div>
		
		<hr class="my-3">
		<br>
		
		<div>
		    <div>
	        	<h1>
	            	<button 
	            		type="submit" 
	            		class="btn btn-lg btn-success wyslij-zapytanie-ccc" 
	            		ng-click="smarrt.submitSmaRRtNew(plt, resp, fup, proj, faza, mrd, duns, 0)">
	            		Wyślij zapytanie do CCC
	            	</button>
	            </h1>
	            <div class="checkbox-add-supplier-on-smarrt">
					<span class="dodaj-dane-dostawcy">Dodaj/Aktualizuj dane dostawcy na liście sharepoint: </span>
            		<input 
						type="checkbox"
						ng-model="smarrt.tree[plt][resp][ fup][ proj][faza][mrd][duns].addNewSupplierQ"
						id="rr-checkbox-new-supplier-{{duns}}">
				</div>																				            	
		    </div>
		</div>																						
	</div>
</div>


