html {
    padding: 0px;
    margin: 0px;
}

body {
    padding: 20px;
    margin: 20px;

    width: 90%;
    min-height: 100vh;
    
    background-color: #141414;
    
	font-size: 12px;
	font-family: "Opel Sans Condensed";
}


.wybierz-fupa, .wybierz-proj, .wybierz-faze {
	width: 140px;
	font-size: 17px;
}

.wybierz-file {
 width: 200px;
 font-size: 13px;
 padding: 2px;
 margin: 2px;
 border: medium red solid;
}

.fa-custom-color-white {
 
 color: white;
}

.get-input-data {
}

.get-input-data button  {
	color: white;
	margin: 8px;
}


ul li {
	font-size: 21px;
}


.quick-stats div {
 
 font-size: 140%;
}
